body, html {
    margin: 0;
    padding: 0;
    scroll-padding-top: 60px; /* Adjust based on the height of your fixed navbar */
}

body {
    padding-top: 70px; /* Adjust based on the actual height of your navbar */
}

main {
    margin-top: 70px; /* Adjust based on the actual height of your navbar */
}


header {
    position: relative;
    width: 100%;
    z-index: 1000;
}

header h1 {
    text-align: center;
    position: relative; /* Adjust if needed */
    display: block; /* Hide on scroll if desired, but this requires JavaScript */
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    z-index: 1000;
}

.nav-center h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    /* Ensure it's on top of other elements if needed */
    z-index: 2;
}

img {
    max-width: 480px; /* Maximum width */
    max-height: 720px; /* Maximum height */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space below the image */
    margin: 0 auto; /* Center the image if it's smaller than the container */
}

@media (max-width: 768px) {
    img {
        max-width: 100%; /* Allows the image to scale down on smaller screens */
        height: auto; /* Adjusts the height automatically to maintain aspect ratio */
    }
}


.nav-left, .nav-center, .nav-right {
    display: flex;
    align-items: center;
}

.nav-center {
    flex-grow: 1;
    justify-content: center;
}

.nav-center h1 {
    margin: 0; /* Removes default margin to align title properly */
    text-align: center;
}

.nav-left, .nav-right {
    height: 100px; /* Adjust based on your navbar's height */
    align-items: center;
}

.nav-left a, .nav-right a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.nav-left a:hover {
    background-color: #555;
}

.profile-img {
    border-radius: 75%;
    width: 60px; /* Adjust based on your image */
    height: 60px; /* Adjust to keep the aspect ratio of your image */
    background-color: none;
}

.hidden-title {
    display: none;
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.profile-img:hover {
    animation: rotate360 0.5s ease-in-out;
}

/* Dropdown Button */
.nav-right .dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by default) */
.nav-right .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; /* Adjust this value as needed, or use 'left' property */
    transform: translateX(0%); /* Adjust this to move the menu more to the left */
}

/* Links inside the dropdown */
.nav-right .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.nav-right .dropdown:hover .dropdown-content {
    display: block;
}

/* Style the icons */
.nav-right .dropdown-content a i {
    margin-right: 8px;
}

.night-theme {
    background-color: #0d151d;
    color: #ecf0f1;
}

.night-theme nav, .night-theme a {
    background-color: #333;
    color: #ecf0f1;
}

.anime-title {
    text-align: center;
    margin-top: 20px;
}

.video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100%; /* Adjust this value based on your preference */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
