body, html {
    margin: 0;
    padding: 0;
    scroll-padding-top: 60px; /* Adjust based on the height of your fixed navbar */
}

body {
    padding-top: 70px; /* Adjust based on the actual height of your navbar */
}

main {
    margin-top: 70px; /* Adjust based on the actual height of your navbar */
}


header {
    position: relative;
    width: 100%;
    z-index: 1000;
}

header h1 {
    text-align: center;
    position: relative; /* Adjust if needed */
    display: block; /* Hide on scroll if desired, but this requires JavaScript */
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    z-index: 1000;
}

.nav-center h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    /* Ensure it's on top of other elements if needed */
    z-index: 2;
}

img {
    max-width: 480px; /* Maximum width */
    max-height: 720px; /* Maximum height */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space below the image */
    margin: 0 auto; /* Center the image if it's smaller than the container */
}

@media (max-width: 768px) {
    img {
        max-width: 100%; /* Allows the image to scale down on smaller screens */
        height: auto; /* Adjusts the height automatically to maintain aspect ratio */
    }
}


.nav-left, .nav-center, .nav-right {
    display: flex;
    align-items: center;
}

.nav-center {
    flex-grow: 1;
    justify-content: center;
}

.nav-center h1 {
    margin: 0; /* Removes default margin to align title properly */
    text-align: center;
}

.nav-left, .nav-right {
    height: 100px; /* Adjust based on your navbar's height */
    align-items: center;
}

.nav-left a, .nav-right a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.nav-left a:hover {
    background-color: #555;
}

.profile-img {
    border-radius: 75%;
    width: 60px; /* Adjust based on your image */
    height: 60px; /* Adjust to keep the aspect ratio of your image */
    background-color: none;
}

.hidden-title {
    display: none;
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.profile-img:hover {
    animation: rotate360 0.5s ease-in-out;
}

/* Dropdown Button */
.nav-right .dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by default) */
.nav-right .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; /* Adjust this value as needed, or use 'left' property */
    transform: translateX(0%); /* Adjust this to move the menu more to the left */
}

/* Links inside the dropdown */
.nav-right .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.nav-right .dropdown:hover .dropdown-content {
    display: block;
}

/* Style the icons */
.nav-right .dropdown-content a i {
    margin-right: 8px;
}

.night-theme {
    background-color: #0d151d;
    color: #ecf0f1;
}

.night-theme nav, .night-theme a {
    background-color: #333;
    color: #ecf0f1;
}

.slider-container {
    width: 70%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.anime-slider {
    display: flex;
    width: 100%;
}

.anime-slide {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    width: 100%; /* Ensure each slide is full width of the container */
    height: 720px;
}

.slide-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    border: 1px solid #ccc; /* Light border for visibility */
    padding: 10px 15px; /* Adjust padding for better visibility */
    z-index: 10;
}

.left-arrow {
    left: 10px; /* Adjust as needed */
}

.right-arrow {
    right: 10px; /* Adjust as needed */
}

.anime-slide img {
    max-width: 360px; /* Half of your slider width, adjust as needed */
    max-height: 540px; /* Adjust based on your preference */
    object-fit: cover; /* Cover the area without losing aspect ratio */
    margin-right: 20px; /* Adds some space between the image and the text */
}



.anime-info {
    flex-grow: 1; /* Take up remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the text vertically */
    text-align: left; /* Align the text to the left */
    max-width: calc(100% - 360px); /* Adjust based on the image width to take up remaining space */
    padding-right: 50px;
}

.anime-info h2 {
    justify-content: center;
}

.work_in_prog {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

.work_in_prog img {
    max-width: 100%; /* Ensure image is responsive */
    height: auto; /* Maintain aspect ratio */
}