<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ anime_name }} - The Weeb Zone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Other head elements -->
</head>
<body>
    <header>
        <nav id="navbar">
            <div class="nav-left">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('in_progress') }}">Seasonal Anime</a>
                <a href="{{ url_for('in_progress') }}">Movies</a>
            </div>
            <div class="nav-center">
                <h1>The Weeb Zone</h1>
            </div>
            <div class="nav-right">
                <div class="dropdown">
                    <a href="#profile" id="pfp-button" style="background-color: transparent; outline: none;">
                        <img src="{{ url_for('static', filename='images/pfps/Sylvie.webp') }}" alt="Profile" class="profile-img"></a>

                    <div class="dropdown-content">
                        <a href="{{ url_for('in_progress') }}"><i class="fas fa-user"></i> Profile</a>
                        <a href="{{ url_for('in_progress') }}"><i class="fas fa-users"></i> Friends</a>
                        <a href="{{ url_for('in_progress') }}"><i class="fas fa-film"></i> Your Anime</a>
                        <a href="{{ url_for('in_progress') }}"><i class="fas fa-chart-line"></i> Stats</a>
                        <a href="{{ url_for('in_progress') }}"><i class="fas fa-cog"></i> Settings</a>
                        <a href="#" id="night-theme-toggle">
                            <i class="fas fa-moon" id="moon-icon" style="display:none;"></i>
                            <i class="fas fa-sun" id="sun-icon"></i> Night Theme
                        </a>
                        <a href="{{ url_for('in_progress') }}"><i class="fas fa-sign-out-alt"></i> LogOut</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <main>
            <h1 class="anime-title">{{ anime_name }}</h1>
            <div class="video-container">
            {% if video_id %}
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% else %}
                <p>Video not available.</p>
            {% endif %}
            </div>
            <!-- Any other content you want to include about the anime -->
        </main>
        
    </main>
    <script src="{{ url_for('static', filename='script2.js') }}"></script>
</body>
</html>
