<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Weeb Zone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header>
        <nav id="navbar">
            <div class="nav-left">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('in_progress') }}">Seasonal Anime</a>
                <a href="{{ url_for('in_progress') }}">Movies</a>
            </div>
            <div class="nav-center">
                <h1>The Weeb Zone</h1>
            </div>
            <div class="nav-right">
                <div class="dropdown">
                    <a href="#profile" id="pfp-button" style="background-color: transparent; outline: none;">
                        <img src="{{ url_for('static', filename='images/pfps/Sylvie.webp') }}" alt="Profile" class="profile-img"></a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('in_progress') }}"><i class="fas fa-user"></i> Profile</a>
                        <a href="{{ url_for('in_progress') }}"><i class="fas fa-users"></i> Friends</a>
                        <a href="{{ url_for('in_progress') }}"><i class="fas fa-film"></i> Your Anime</a>
                        <a href="{{ url_for('in_progress') }}"><i class="fas fa-chart-line"></i> Stats</a>
                        <a href="{{ url_for('in_progress') }}"><i class="fas fa-cog"></i> Settings</a>
                        <a href="#" id="night-theme-toggle">
                            <i class="fas fa-moon" id="moon-icon" style="display:none;"></i>
                            <i class="fas fa-sun" id="sun-icon"></i> Night Theme
                        </a>
                        <a href="{{ url_for('in_progress') }}"><i class="fas fa-sign-out-alt"></i> LogOut</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="work_in_prog">
            <img src="static\monkey.png" alt="Monkey Image">
            <h2>Still in Progress</h2>
        </div>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
