<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Weeb Zone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" size="" type="image/png" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <nav id="navbar">
            <div class="nav-left">
                <a href="#home">Home</a>
                <a href="#seasonal-anime">Seasonal Anime</a>
                <a href="#movies">Movies</a>
            </div>
            <div class="nav-center">
                <h1>The Weeb Zone</h1>
            </div>
            <div class="nav-right">
                <div class="dropdown">
                    <a href="#profile" id="pfp-button"><img src="{{ url_for('static', filename='images/pfps/' + profile_image) }}" alt="Profile" class="profile-img"></a>
                    <div class="dropdown-content">
                        <a href="#profile"><i class="fas fa-user"></i> Profile</a>
                        <a href="#friends"><i class="fas fa-users"></i> Friends</a>
                        <a href="#your-anime"><i class="fas fa-film"></i> Your Anime</a>
                        <a href="#stats"><i class="fas fa-chart-line"></i> Stats</a>
                        <a href="#settings"><i class="fas fa-cog"></i> Settings</a>
                        <a href="#" id="night-theme-toggle">
                            <i class="fas fa-moon" id="moon-icon" style="display:none;"></i>
                            <i class="fas fa-sun" id="sun-icon"></i> Night Theme
                        </a>
                        <a href="#logout"><i class="fas fa-sign-out-alt"></i> LogOut</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <!-- Your content here -->
    </main>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
